{% extends "shop/base.html" %}
{% load static %}

{% block title %}Корзина{% endblock %}

{% block content %}

    {% if total_items > 0 %}

        <!-- блок корзины -->
        <h1 class="head">В вашей корзине...</h1>
        <div class="cart_container">
            <div class="content_cart">
                <table class="cart">
                    <thead>
                    <tr>
                        <th style="width: 120px">Изображение</th>
                        <th style="width: 130px">Название</th>
                        <th style="width: 150px">Количество</th>
                        <th style="width: 130px">Убрать</th>
                        <th style="width: 130px">Цена за штуку</th>
                        <th style="width: 130px">Стоимость</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cart %}
                        {% with product=item.product %}
                            <tr>
                                <td>
                                    <hr class="hr-shelf">
                                    <a href="{{ product.get_absolute_url }}">
                                        <img class="detail_img" alt="Упс!" src="
                                            {% if product.image %}{{ product.image.url }}
                                                {% else %}{% static "images/no_image.png" %} {% endif %}">
                                    </a>
                                </td>

                                <td>{{ product.name }} Код:{{ product.product_code }}</td>
                                <td>
                                    <form action="{% url "cart:cart_add" product.id %}" method="post">
                                        {% csrf_token %}
                                        {{ item.update_quantity_form.quantity }}
                                        {{ item.update_quantity_form.override }}
                                        <input class="update" type="submit" value="Обновить">
                                    </form>
                                </td>
                                <td>
                                    <form action="{% url "cart:cart_remove" product.id %}" method="post">
                                        {% csrf_token %}
                                        <input class="update" type="submit" value="Удалить">
                                    </form>
                                </td>
                                <td class="num">{{ item.price }} ₽</td>
                                <td class="num">{{ item.total_price }} ₽
                                    <hr class="hr-shelf">
                                </td>
                            </tr>
                        {% endwith %}
                    {% endfor %}
                    </tbody>
                </table>
            </div>

    <!-- блок "ПЕРЕЙТИ К ОФОРМЛЕНИЮ" -->
        <div class="payment">
            <div class="text-right">
                <form action="{% url "orders:order_create" %}" method="get">
                    <button class="registration_bottom" type="submit">Перейти к оформлению</button>
{#                    {% csrf_token %}#}
                </form>
            </div>
            <div class="total">
                <p style="font-size: 13px; color: #003559">Доступные способы и время доставки можно выбрать при оформлении заказа</p>
                <hr class="hr-shelf">
                <table class="display">
                    <tbody>
                        <tr>
                            <td><b>Ваша корзина:</b></td>
                            <td></td>
                            <td style="text-align: right"><b>{{ total_items }} {{ ending_word }}</b></td>
                        {% if cart.coupon %}
                            <tr>
                                <td>Без скидки</td>
                                <td></td>
                                <td style="text-align: right">{{ cart.get_total_price }} р.</td>
                            </tr>
                            <tr>
                                <td>{{ cart.get_coupon.code }} - {{ cart.get_coupon.discount }}%</td>
                                <td></td>
                                <td style="text-align: right">{{ cart.get_discount }} р.</td>
                            </tr>
                        {% else %}
                            <tr>
                                <td>Без скидки</td>
                                <td></td>
                                <td style="text-align: right">{{ cart.get_total_price }} р.</td>
                            </tr>
                        {% endif %}

                    </tbody>
                </table>

            <!-- Применение купона -->
                <div class="coupon_form">
                    <h4>Купон</h4>

                    {% if request.session.coupon_id %}
                        <form action="{% url 'coupons:coupon_remove' %}" method="post">
                        {% csrf_token %}
                        <input  class="btn-coupon" type="submit" value="Отменить действие купона">
                        </form>
                    {% else %}
                        <form action="{% url 'coupons:coupon_apply' %}" method="post">
                        {{ coupon_form }}
                        {% csrf_token %}
                        <input  class="btn-coupon" type="submit" value="ПРИМЕНИТЬ">
                    </form>
                    {% endif %}
                
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <hr class="hr-shelf">
                <table class="display">
                    <tbody>
                        <tr style="font-size: 20px">
                            <td>Итого:</td>
                            <td></td>
                            <td style="text-align: right"><b>{{ cart.get_total_price_sale }} р.</b></td>
                        </tr>
                    </tbody>
                </table>
                <hr class="hr-shelf">
            </div>
        </div>
    </div>

        <!-- блок "ПРОДОЛЖИТЬ ПОКУПКИ" -->
    <br>
    <div class="text-light">
        <form action="{% url 'shop:product_list' %}" method="get">
            <button class="registration_bottom" type="submit">Продолжить покупки</button>
            {% csrf_token %}
        </form>
    </div>

        <!-- условие пустой корзины -->
    {% else %}
        <div class="cart_empty_info">
            <p class="cart_empty">Ваша корзина пуста!</p>
            <p class="cart_message">Что бы найти все что нужно, перейдите в
                <a href="{% url 'shop:product_list' %}">каталог</a></p>
        </div>
    {% endif %}

{% endblock %}
