{% extends "shop/base.html" %}
{% load static %}

{% block title %}
    {{ product.name }}
{% endblock %}

{% block content %}
    <div class="product-detail">

        <img id="detail_img" src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}" alt="{{ product.name }}" title="{{ product.name }}">
        <p>Код товара: {{ product.product_code }}</p>
        <div class="Category_product">Категория товаров: <a href="{{ product.category.get_absolute_url }}" target="_blank">
            {{ product.category }}
            </a>
        </div>
        <h2>{{ product.name }}</h2>

        <p class="price">{{ product.price }} ₽</p>


        <div class="short_description">
            <p id="head1_description">Описание товара:</p>
            <div id="detail_description"> {{ product.description|linebreaks }}
                </div>

            <details>
                <summary id="head2_description">Характеристики:</summary>
                <div id="detail_description">
                    <p></p>
                    <p>{{ ProductConstruction|linebreaks }}</p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>
                    <p></p>

                </div>
            </details>
        </div>



    </div>
{% endblock %}