{% extends "shop/base.html" %}
{% load static %}

{% block title %}FAQ часто задаваемые вопросы{% endblock %}

{% block content %}

    <div id="top" class="faq-rang-container">
        <h2 class="faq-rang-head">Что такое ранг огнетушителя?</h2>
        <p>Если вы собираетесь приобрести огнетушитель, то Вам следует знать, что его наиболее важной характеристикой является огнетушащая способность. Она определяет способность огнетушителя потушить модельный очаг пожара, предусмотренный СТБ 11.13.04, СТБ 11.13.10. Классы пожаров, для тушения которых предназначен выбранный огнетушитель, обязательно должны быть указаны на его этикетке.
Огнетушащая способность определяется рангом огнетушителя, обозначается символами — 2А, 3А, 4А, 55В, 144В, где буквенный символ А,В - это класс пожара, и цифра означает ранг (величину) пожара.</p>
        <p><b>Чем выше ранг, тем выше огнетушащая способность огнетушителя.</b></p>
        <p>Ранг для огнетушителя, это то же самое, что и мегапиксели для видеокамеры или октановое число для бензина. Разумеется, у бензина много характеристик, но автомобилисты точно знают, с каким октановым числом должен быть бензин, которым следует заправлять свое авто : 92, 95, 98. Точно также ранг для огнетушителя определяет размер очага возгорания, для тушения которого он предназначен.</p>
        <p>Ранее выбор огнетушителей основывался на виде и количестве находящего с нём огнетушащего вещества (вода, раствор пенообразователя, порошок, огнетушащие газы). Теперь – ранг тушения модельного очага пожара. Ранги тушения огнетушителей определяется при его сертификационных испытаниях и указывается в технической документации и на этикетке, размещаемой на корпусе.</p>
        <img class="faq-rang-img" src="/static/images/extinguisher_rank.png" alt="Упс!">
        <h5 class="faq-rang-head">Что представляет собой очаг А и в чем разница между 2А, 3А, 4А?</h5>
        <p>Очаг класса пожара А представляет из себя штабель из определенного количества брусков. Сечение брусков во всех очагах (2А, 3А, 4А) одинаковое (40*40 мм), а вот их длина и количество различны.</p>
        <p>Самое маленькое количество брусков и длина – у очага 0,1А -18 шт, длина бруска 200мм, самое большое – у очага 6А - 230 шт, длина – 925мм. Соответственно различается и расчетная площадь горящей поверхности брусков в штабеле: у очага 2А – это 9 кв.метров, 3А – это 14 кв.метров, 4 А – это 19 кв.метров. Таким образом, огнетушитель с рангом 4А способен потушить в 2 раза больший очаг по классу А, чем огнетушитель с рангом 2А.</p>
        <img class="faq-rang-img" src="/static/images/fire_extinguisher_test.png" alt="Упс!">
        <p>Очень важно, чтобы огнетушитель был предназначен для тушения пожаров по классу А, т.е. для тушения твердых горючих веществ (дерево, бетон, металл, кирпич, пластик, бумага, ткань, кожа, электроника и многое другое), потому что эти материалы (на 99%) с точки зрения пожарной опасности и есть то, что нас окружает. Огнетушащая способность по классу А, во всем мире считается самой важной.
Например, в США, Канаде и России официально запрещено использовать огнетушители для защиты зданий и сооружений с рангом меньше, чем 2А.</p>
        <h5 class="faq-rang-head">Что представляет собой очаг В и цифры 55В, 144В и т.д.?</h5>
        <p>Модельный очаг В – это жидкие горючие вещества. Например, модельный очаг пожара 55В представляет собой противень с 18л воды и 37л бензина, в результате получается 55л горючей жидкости. А значение ранга 144В – это уже 144л горючего вещества. Таким образом, для класса В цифра перед буквой – это количество литров горящей жидкости, которую способен потушить огнетушитель.</p>
        <img class="faq-rang-img" src="/static/images/rang_b_ispytanie.png" alt="Упс!">
        <p><b>Более половины возгораний в мире тушатся огнетушителями, но есть три правила, которые должны выполняться одновременно - для успешного подавления возгораний огнетушитель должен «быть» (в наличии и доступен), он должен быть качественным, им необходимо уметь пользоваться.</b></p>
        <p>Берегите себя и своих близких!</p>
    </div>
    <a class="return_back" href="#top">Вернуться в начало</a>

{% endblock %}