{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Все товары{% endif %}
{% endblock %}

{% block content %}

  <div id="top" class="content">

    <!-- Заголовок ВСЕ ТОВАРЫ -->
    <div id="main" class="four">
      <h1>{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</h1>
    </div>



{#    <h1>Товары</h1>#}
{#    <a href="{{ form_sort.as_p }}">Сортировать по имени</a>#}
{#    <a href="{{ product.get_absolute_url }}">Сортировать по цене</a>#}
{#    <a href="{{ product.get_absolute_url }}">Сортировать по дате (новые сначала)</a>#}

    <div>
        <a href="{{ product.get_absolute_url }}?sort=price">Сортировать по цене (возрастанию)</a>
        <a href="{{ product.get_absolute_url }}?sort=-price">Сортировать по цене (убыванию)</a>
    </div>

    <ul>
        {% for product in products %}
            <li>{{ product.name }} - {{ product.price }}</li>
        {% endfor %}
    </ul>


    <!-- Карточки товаров -->
    <div class="gallery">
      {% for product in products %}
        <div class="border">

          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}" alt="{{ product.name }}" title="Посмотреть подробности">
          </a>

          <div class="item">
            <a href="{{ product.get_absolute_url }}" title="Посмотреть подробности">
              <p>{{ product.product_type }}<br>{{ product.name }}</p>
            </a>
            <p>{{ product.price }} ₽</p>

            <form class="" action="{% url "cart:cart_add" product.id %}" method="post">
              <p>{{ cart_product_form }}</p>
              <button class="pushable" type="submit">
                <span class="shadow"></span>
                <span class="edge"></span>
                <span class="front"> В корзину </span>
              </button>
              {% csrf_token %}
            </form>
          </div>
        </div>
        {% endfor %}
    </div>
  <a class="return_back" href="#top">Вернуться в начало</a>
  </div>

{% endblock %}