{% extends "shop/base.html" %}
{% load static %}

{% block title %}
  {% if category %}{{ category.name }}{% else %}Все товары{% endif %}
{% endblock %}

{% block content %}

  <div class="content">
    <div id="main" class="product-list">
      <h1>{% if category %}{{ category.name }}{% else %}Все товары{% endif %}</h1>
    </div>

    <div class="gallery">
      {% for product in products %}
        <div>
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static "images/no_image.png" %}{% endif %}" alt="{{ product.name }}">
          </a>
          <div class="item">
            <a href="{{ product.get_absolute_url }}">{{ product.name }}</a>
            <br>
            <a href="{{ product.get_absolute_url }}">
              {{ product.price }} ₽
              <br>
              <button class="pushable">
                <span class="front">В корзину</span>
              </button>
            </a>
            <br>
            <br>
          </div>
        </div>
        {% endfor %}
    </div>
  </div>

{% endblock %}