{% extends "shop/base.html" %}
{% load static %}

{% block title %} Добавление адреса доставки {% endblock %}

{% block content %}

    <div class="registration_body">
        <div class="registration_container">
            <h2 class="registration_head">Добавить адрес доставки</h2>
            <form method="post" class="registration_form_input">
                {{ form.as_p }}
                {% csrf_token %}
                <input class="registration_bottom" type="submit" value="Сохранить адрес">
            </form>
        </div>
    </div>

{% endblock %}