{% extends "shop/base.html" %}
{% load static %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}

    <div class="info_order">
        <h4>Доставка товара</h4>
        <hr class="hr-shelf">
        <h6 style="text-decoration: underline;"> Оформление заказа</h6>
        <p> В вашей корзине: <b>{{ total_items }} {{ ending_word }}</b></p>
        <p> На общую сумму: <b>{{ cart.get_total_price_sale }} руб.</b></p>
        {% if cart.coupon %}
            <p>Скидка составила: <b>{{ cart.get_discount }} руб.</b></p>
        {% endif %}
        <hr class="hr-shelf">
    </div>

    <div class="registration_body">
        <div class="registration_container">
            <h1 class="registration_head">Форма заказа</h1>
            <h6>Пожалуйста, заполните эту форму, чтобы оформить покупку.</h6>
            <form method="post" class="registration_form_input">
                {{ form.as_p }}
                {% csrf_token %}
                <p class="bold-links">
                    <a style="float: right" href="{% url 'accounts:add_address' %}">Добавить адрес доставки</a>
                </p>
                <input class="registration_bottom" type="submit" value="Заказать">

            </form>
        </div>
    </div>

{% endblock %}