{% extends "shop/base.html" %}
{% load static %}

{% block title %}Оформление заказа{% endblock %}

{% block content %}

   <div class="info_order">
    <h3>Доставка товара</h3>
    <hr>
    <p> Ваш заказ: № {{ order.id }} </p>
    <p> В вашей корзине: {{ total_items }} {{ ending_word }} </p>
    <p> На общую сумму: {{ total_price }} ₽ </p>
   </div>


  <div class="registration_body">
    <div class="registration_container">
      <h1 class="registration_head" >Форма заказа</h1>
      <h6>Пожалуйста, заполните эту форму, чтобы оформить покупку.</h6>
      <form method="post" class="registration_form__input">
        {{ form.as_p }}
        {% csrf_token %}
        <input class="registration_bottom" type="submit" value="Заказать">
      </form>
    </div>
  </div>

{% endblock %}