{% extends "shop/base.html" %}
{% load static %}

{% block title %} Идентификация, аутентификация {% endblock %}

{% block content %}


    <div class="registration_body">
        <div class="registration_container">
            <h2 class="registration_head">Вход в аккаунт</h2>
            <form method="post" class="registration_form_input">
                {{ form.as_div }}
                {% csrf_token %}
                <input class="registration_bottom" type="submit" value="Login">

                <table class="icon_row">
                    <tr>
                        <th>
                            <div><a href="{% url 'social:begin' 'vk-oauth2' %}"><img class="icon_reg" alt="Упс!" src="/static/images/vk.png" onerror="this.src='/static/images/no_image.png';"></a></div>
                        </th>
                        <th>
                            <div><a href="{% url 'social:begin' 'google-oauth2' %}"><img class="icon_reg" alt="Упс!" src="/static/images/google.png" onerror="this.src='/static/images/no_image.png';"></a></div>
                        </th>
                        <th>
                            <div><a href="#"><img class="icon_reg" alt="Упс!" src="/static/images/mail.png" onerror="this.src='/static/images/no_image.png';"></a></div>
                        </th>
                        <th>
                            <div><a href="#"><img class="icon_reg" alt="Упс!" src="/static/images/yandex.png" onerror="this.src='/static/images/no_image.png';"></a></div>
                        </th>
                    </tr>
                </table>

{#                <div><a href="{% url 'social:begin' 'vk-oauth2' %}">Войти через VK</a> </div>#}
{#                <div><a href="{% url 'social:begin' 'google-oauth2' %}">Войти через Google</a> </div>#}
            </form>
            <a class="head_log1" href="{% url 'accounts:register_view' %}">Создать аккаунт</a>
        </div>

    </div>

{% endblock %}