{% extends "shop/base.html" %}
{% load static %}

{% block title %} Идентификация, аутентификация {% endblock %}

{% block content %}


    <div class="registration_body">
        <div class="registration_container">
            <h2 class="registration_head">Вход в аккаунт</h2>
            <form method="post" class="registration_form_input">
                {{ form.as_div }}
                {% csrf_token %}
                <input class="registration_bottom" type="submit" value="Login">
            </form>
            <a class="head_log1" href="{% url 'accounts:register_view' %}">Создать аккаунт</a>
        </div>
    </div>

{% endblock %}