{% extends "shop/base.html" %}
{% load static %}

{% block title %} Личный кабинет {% endblock %}

{% block content %}



    <div class="profile_container">
        <h2>Личный кабинет</h2>
        <hr>

        <div class="container-tabs">
            <div class="container-tab">

        <!-- Личные данные -->
                <div class="container_table" id="content-1">
                    <table>
                        <tr>
                            <th>Имя пользователя:</th>
                            <td>{{ user.username }}</td>
                        </tr>
                        <tr>
                            <th>Имя и фамилия:</th>
                            <td>{{ user.first_name }} {{ user.last_name }}</td>
                        </tr>
                        <tr>
                            <th>E-mail:</th>
                            <td>{{ user.email }}</td>
                        </tr>
                        <tr>
                            <th>Пол:</th>
                            <td>{{ user.profile.gender }}</td>
                        </tr>
                        <tr>
                            <th>Телефон:</th>
                            <td>{{ user.profile.phone_number }}</td>
                        </tr>
                        <tr>
                            <th>Дата рождения</th>
                            <td>{{ user.profile.birth_date }}</td>
                        </tr>
                    </table>
                    <hr>
                    <div class="bold-links">
                        <h6>
                            <a href="{% url 'accounts:edit_profile' %}">Редактировать профиль</a>
                        </h6>
                    </div>
                </div>

        <!-- Заказы -->
                <div class="container_table" id="content-2">
                    <h4>Активные заказы</h4>
                    {% for order in active_orders %}
                        <ul>
                            <li>
                                Заказы № {{ order.id }} от {{ order.created_at|date:"d.m.Y H:i" }} на сумму {{ order.get_total_cost }} руб.
                                <a href="{% url 'orders:cancel_order' order.id %}">
                                    <br>Отменить заказ</a>
                            </li>
                         </ul>
                    {% empty %}
                        <p> У вас пока нет заказов </p>
                    {% endfor %}
                    <hr>
                    <h4>Завершенные заказы</h4>
                    {% for order in completed_orders %}
                        <ul>
                            <li>
                                Заказы № {{ order.id }} от {{ order.created_at|date:"d.m.Y H:i" }} на сумму {{ order.get_total_cost }} руб.
                            </li>
                        </ul>
                    {% empty %}
                        <p> Ни один заказ пока не выполнен </p>
                    {% endfor %}
                    <hr>
                    <h4>Отмененные заказы</h4>
                    {% for order in canceled_orders %}
                        <ul>
                            <li>
                                Заказы № {{ order.id }} от {{ order.created_at|date:"d.m.Y H:i" }} на сумму {{ order.get_total_cost }} руб.
                            </li>
                        </ul>
                    {% empty %}
                        <p> У вас пока нет отмененных заказов </p>
                    {% endfor %}
                </div>

        <!-- Адреса доставки -->
                <div class="container_table" id="content-3">
                    <hr>
                    <h4>Адреса доставки</h4>
                    {% for address in addresses %}
                        <ul>
                            <li>
                                {{ address }}<br>
                                <a href="{% url 'accounts:delete_address' address.id %}">Удалить адрес</a>
                            </li>
                        </ul>
                    {% empty %}
                        <p> У вас пока нет сохраненных адресов </p>
                    {% endfor %}
                    <hr>
                    <p class="bold-links">
                        <a href="{% url 'accounts:add_address' %}">Добавить адрес доставки</a>
                    </p>
                </div>

        <!-- Смена пароля -->
                <div class="container_table" id="content-4">
                    <hr>
                    <ul>
                        <li class="bold-links" >
                            <a href="{% url 'accounts:change_password_view' %}">Сменить пароль</a>
                        </li>
                    </ul>


{#                    <h3 class="registration_head">Изменение пароля</h3>#}
{##}
{#                        <form method="post" class="registration_form_input" target="_new">#}
{#                            {{ form.as_div }}#}
{#                            {% csrf_token %}#}
{#                            <input class="registration_bottom" type="submit" value="Сохранить изменения">#}
{#                        </form>#}
                </div>

        <!-- Шапка личного кабинете -->
                <div class="tab-nav-content">
                    <input checked id="tab-btn-1" name="tab-btn-head" type="radio" value="Личные данные">
                    <label for="tab-btn-1">Личные данные</label>
                    <input id="tab-btn-2" name="tab-btn-head" type="radio" value="Ваши заказы">
                    <label for="tab-btn-2">Ваши заказы</label>
                    <input id="tab-btn-3" name="tab-btn-head" type="radio" value="Адреса доставки">
                    <label for="tab-btn-3">Адреса доставки</label>
                    <input id="tab-btn-4" name="tab-btn-head" type="radio" value="Сменить пароль">
                    <label for="tab-btn-4">Безопасность</label>
                </div>

            </div>

        </div>

        <div class="bold-links">
            <h5>
                <a href="{% url 'accounts:logout_view' %}">Выход</a>
            </h5>
        </div>

    </div>





{% endblock %}
