.product-detail
{
    margin: 2em 20em 1em 3em;
}
#detail_img
{
    width: 300px;
    height:300px;
}
.name
{
    margin: 1em 20em 1em 4em;
}
a:link
{
    text-decoration: none;
    color: #2a78c7;
}
a:visited
{
    text-decoration: none;
    color: #2a78c7;
}
a:hover
{
    text-decoration: underline;
    color: #0048ff;
}
a:active
{
    text-decoration: underline;
}

.category_product
{
    color: #1c1414;
    font-size: 20px;
}

.short_description
{
    text-align: left;
    font-size: 15px;
    margin: 5%;
}
#head2_description
{
    margin: 5%;
}
#characteristic
{
    font-size: 15px;

    margin: 5%
}
.price
{
    box-shadow: 3px 3px 10px #999;
    width: 175px;
    font-size: 40px;
    color: #275019;
    text-align: center;
    font-weight: bolder;
}
.cod_product
{
    float: right;
    margin: 5em 20em 1em 1em;
}
