.favicon /* для base */
{
    width: 60px;
    height: 60px;
    margin-right: 10px;
}

header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

* { box-sizing: border-box; }
body {
    margin: 0;
    background: radial-gradient(#BFD6E2 1px, rgba(255,255,255,0) 2px);
    background-size: 10px 10px;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav a {
    display: block;
    text-decoration: none;
    outline: none;
    transition: .4s ease-in-out;
}
.topmenu {
    backface-visibility: hidden;
    background: rgba(255,255,255,.8);
}
.topmenu > li {
    display: inline-block;
    position: relative;
}
.topmenu > li > a {
    font-family: 'Exo 2', sans-serif;
    height: 70px;
    line-height: 70px;
    padding: 0 30px;
    font-weight: bold;
    color: #003559;
    text-transform: uppercase;
}
.down:after {
    content: "\f107";
    margin-left: 8px;
    font-family: FontAwesome;
}
.topmenu li a:hover { color: #E6855F; }

.submenu {
    background: white;
    border: 2px solid #003559;
    position: absolute;
    left: 0;
    visibility: hidden;
    opacity: 0;
    z-index: 5;
    width: 150px;
    transform: perspective(600px) rotateX(-90deg);
    transform-origin: 0% 0%;
    transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
    visibility: visible;
    opacity: 1;
    transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
    color: #7f7f7f;
    font-size: 13px;
    line-height: 36px;
    padding: 0 25px;
    font-family: 'Kurale', serif;
}

.cart_base {
  font-size: 20px;
  line-height: 24px;
}

.cart_base a {
  color: #000;
  text-decoration: none;
}



#detail_img /* для detail размер img */
{
    width: 300px;
    height: 300px;
    margin: 3em -1em 1em 3em;
}

.product_price /* для detail общие параметры для блока с права от img */
{
    float: right;
    margin: 3em 30em 1em 1em;
}

.category_product /* для detail параметры "КАТЕГОРИЯ ТОВАРА" с права от img */
{
    padding-bottom: 10px;
}

.cod_product /* для detail параметры "КОД ТОВАРА" с права от img */
{
    padding-bottom: 25px;
}

.price /* для detail параметры "ЦЕНА" с права от img */
{
    box-shadow: 3px 3px 10px #999;
    width: 175px;
    font-size: 35px;
    color: #275019;
    text-align: center;
    font-weight: bolder;
}

.submit-button /* для detail кнопка "ПОКУПКА ТОВАРОВ" */
{
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
}

.name /* для detail "МАРКА ТОВАРА" под картинкой */
{
    margin-top: 10px;
    margin-bottom: 30px;
    margin-left: 5%;
    font-size: 20px;
}

.accordion /* для detail заголовок "Описание товара:" */
{
    margin-left: 5%;
    width: 900px;
}

#head2_description /* для detail заголовок-ссылка "ХАРАКТЕРИСТИКИ" */
{
    margin: 5%;
}

#characteristic /* для detail шрифт и отступы внутри блока "ХАРАКТЕРИСТИКИ" */
{
    font-size: 15px;
    margin: 5%;
    width: 900px;
}

/* это блок для цветов ссылок */
a:link /*  */
{
    text-decoration: none;
    color: #2a78c7;
}
a:visited /*  */
{
    text-decoration: none;
    color: #2a78c7;
}
a:hover /*  */
{
    text-decoration: underline;
    color: #0048ff;
}
a:active /*  */
{
    text-decoration: underline;
}
