.head
{
    margin: 15px 0 25px 14px;
}

.content_cart
{
    margin: 14px;
    font-size: 17px;
    color: #000;
    border:2px solid #d5cdcd;
    padding: 20px 20px 20px 20px;
    width: 900px;
}

.cart
{


}

.detail_img /* для detail размер img */
{
    width: 70px;
    height: 70px;
    margin: 20px 0 10px 5px;
}
