/* стили для страницы create - регистрация */
.registering{
  margin-left: 20em;
  margin-top: 20px;
}

.www{
  text-align: center;
}

.order_form{
  text-align: right;
  margin-top: 35px;
  margin-left: 10em;
  border:2px solid rgba(187, 225, 211, 0.5);
  padding: 10px 50px 0 5px;
  width: 500px;
  border-radius: 25px;
  background-color: rgba(255, 255, 255, 0.7);
}

/* стили для border страницы login */
.log {
  color: rgb(252, 252, 247);
  /*text-align: left;*/
  font-family: 'Exo 2', sans-serif;
  background-color: rgba(52, 68, 75, 0.6);
  border:3px solid rgba(81, 137, 157, 0.8); /* F4F7EECC */
  /*border-radius: 8px;*/
  padding: 20px 20px 20px 20px;
  margin: 150px auto;
  margin-bottom: 200px;
  width: 400px;
  /*vertical-align: middle;*/
}

/* для окон */
.form-control{
  margin: 5px 0 25px 0;
}

/* стили для "Авторизация" страницы login */
.head_log{
  text-align: center;
  margin: 10px 0 15px 0;
}

/* стили для bottom страницы login */
.bottom_log {
  display: block;
  /*height: 100vh;*/
  margin: 10px auto 15px auto;
  /*display: inline-block;*/
  box-sizing: border-box;
  padding: 0 20px;
  /*margin: 0 15px 15px 0;*/
  outline: none;
  border: none;
  border-radius: 5px;
  height: 32px;
  line-height: 32px;
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  background-color: hsl(345deg 100% 47%);
  box-shadow: 0 4px #800523;
  cursor: pointer;
  user-select: none;
  appearance: none;
  touch-action: manipulation;
  vertical-align: top;
}
.bottom_log:hover {
  background-color: rgb(245, 50, 50);
}
.bottom_log:active {
  background-color: #800523 !important;
}
.bottom_log:focus-visible {
  box-shadow: 0 0 0 3px #f35757;
}
