.head {
    margin: 15px 0 25px 14px;
}

.cart_container {
    display: flex;
}

.content_cart {
    border: 2px solid rgba(206, 245, 230, 0.5);
    padding: 10px 0 0 0;
    width: 750px;
    border-radius: 10px;
    background: #ffffff;
}

.text-right {
    text-align: center;
}

.cart {
    color: #000;
    font-family: 'Exo 2', sans-serif;
    text-align: center;
    margin: 0;
    font-size: 15px;
    background-color: rgba(255, 255, 255, 0.7);
}

/* для detail размер img */
.detail_img {
    transition: transform 0.5s ease;
    width: 70px;
    height: 70px;
    margin: 0 0 15px 0;
}

.detail_img:hover {
    transform: scale(1.35);
}

.update {
    position: relative;
    display: inline-block;
    width: 7em;
    height: 2.5em;
    line-height: 2.5em;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
    text-shadow: 0 -1px 1px #777;
    color: #fff;
    outline: none;
    border: 2px solid #F64C2B;
    border-radius: 5px;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, 0) inset, .1em .1em .2em #800;
    background: linear-gradient(#FB9575, #F45A38 48%, #EA1502 52%, #F02F17);
}

.update:active {
    top: .1em;
    left: .1em;
    box-shadow: 0 0 0 60px rgba(0, 0, 0, .05) inset;
}

/* рамка для блока "ПЕРЕЙТИ К ОФРМЛЕНИЮ" */
.payment {
    margin-left: 20px;
    border: 2px solid rgba(206, 245, 230, 0.5);
    padding: 15px 10px 0 10px;
    width: 300px;
    height: 385px;
    border-radius: 10px;
    background: #ffffff;
}

/* текст внутри блока "ПЕРЕЙТИ К ОФРМЛЕНИЮ" */
.total {
    /*margin-top: 50px;*/
    font-size: 15px;
    font-weight: 600;
    background-image: radial-gradient(circle, #553c9a, #ee4b2b);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    border: 1px solid #ccc;
}

.display {
    height: 130px;
    width: 100%;
    margin: 10px 10px 15px 10px;
}

/*!* кнопка registration_bottom меню с права "ПЕРЕЙТИ К ОФОРМЛЕНИЮ" *!*/
/* Смотреть style_order_create.css */

/* кнопка registration_bottom "ПРОДОЛЖИТЬ ПОКУПКИ" */
/* Смотреть style_order_create.css */

/* когда корзина пуста */
.cart_empty_info {
    color: #003559;
    font-weight: bold;
    text-align: left;
    margin: 50px 0 30px 30px;
}

.cart_empty {
    font-size: 22px;
}

.cart_message{
    font-size: 17px;
    margin-bottom: 25em;
}

/* отступ с низу для страницы удаления адреса */
.button_delete{
    padding: 30px 0 120px 0;
}
