body
{
    background: #d9eecf;
    color: dodgerblue;
    text-align: center;
}
.price
{
    background: #dae729;
    border: 3px #00B344  ridge;
    box-shadow: 3px 3px 5px #999;
    width: 175px;
    padding: 5px 10px 10px 17px;
    margin: 2% -4% 5% 40%;
    font-size: 40px;
    color: #811c25;
    text-align: center;
    font-weight: bolder;
}
