body
{
    background: #d9eecf;
    color: dodgerblue;
    text-align: left;
}

h1.one {
    border-style: solid;
    border-color: red;
    border-width: 3px;
    text-align: center;
    color: #1e42d2;
  }

p.two {
    text-align: center;
    color: #043838;
    font-family: "Times New Roman", Times, serif;
    font-size: 50px;
}