.content /* для list отступы страницы */
{
  margin-left: 20px;
  color: #003559;
}

.product-list /* для list "КАТЕГОРИЯ ТОВАРОВ" */
{
  margin-top: 20px;
  font-size: 10px;
  font-family: 'Calibri', serif;
}

.gallery /* для list вывод img и текста с низу */
{
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  transform: translateX(-1%);
}

.gallery img /* для list вывод img и текста с низу */
{
  width: 120px;
  height: 120px;
  margin: 20px;
}


.border
{
  border: 1px #00B344 solid;
  margin:10px 10px;
  background: #e9f8ee;
}

.item /* для list вывод текста с низу по картинками */
{
  color: #2e3034;
  text-align: center;
  font-size: 18px;
  font-weight: 700;
}

.pushable
{
  background: hsl(340deg 100% 32%);
  border-radius: 12px;
  border: none;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  margin-bottom: 20px;
}

.front
{
  display: block;
  padding: 5px 20px;
  border-radius: 12px;
  font-size: 1rem;
  background: hsl(345deg 100% 47%);
  color: white;
  transform: translateY(-6px);
}

.pushable:active .front
{
  transform: translateY(-2px);
}
