{% extends "base.html" %}
{% block title %}Контакты{% endblock title %}
{% block header %}Контакты{% endblock header %}
  
{% block content %}
<p>Телефон: +12345677890</p>
<p>Email: admin@admin.com</p>
{% endblock content %}



<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Cool</title>
</head>
<body>
    <h2>{{ header }}</h2>
    <ul>
        {% for lan in data_about %}
        <li>{{ lan }}</li>
        {% endfor %}
    </ul>
{#    <h3>{{ message_one }}</h3>#}
{#    <p>{{ message_two }}</p>#}
</body>
</html>